body {
  font-family: 'Sofadi One';
  background-image: url('../images/MainBackground.jpg');
}

div.header {
  position: relative;
  cursor: pointer;
}

.header a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Uncial Antiqua';
  font-size: 72px;
  margin-left: 15px;
  margin-top: 15px;
  color: rgb(222, 13, 146);
}

h2 {
  position: absolute;
  top: -12px;
  left: 6px;
  color: rgb(149, 9, 82);
}

h3 {
  position: absolute;
  top: -12px;
  left: 2px;
  color: rgb(175, 43, 191);
}

div.prog-wrapper {
    margin-top: 20px;
    overflow: auto;
    margin-left: 30px;
    display: inline-block;
}

div.prog-tracker {
  background: rgba(161, 161, 161, 0.2);
  height: 20px;
  width: 175px;
  display: inline-block;
  font-size: 10px;
  float: left;
}

div.prog-success {
  background-color: rgb(250, 133, 53);
  height: 20px;
  width: 175px;
  display: inline-block;
  font-size: 10px;
}
div.prog-advance {
  background-color: rgb(250, 133, 53);
  height: 20px;
  width: 175px;
  display: inline-block;
  font-size: 10px;
  animation-duration: 2s;
  animation-name: progress;
  animation-iteration-count: 1;

}

@keyframes progress {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

/* dealing with the character images/option */
div.img-container {
  width: 460px;
  height: 460px;
  float: left;
  margin-left: 50px;
  position: relative;
  text-align: center;
  font-family: 'Uncial Antiqua';
  color: rgb(62, 146, 204);
}

.char-class {
  margin-left: 20px;
  margin-top: 20px;
  float: left;
}

p.char-overlay-1, p.char-overlay-2,
p.char-overlay-3, p.char-overlay-4 {
  position: absolute;
  width: 200px;
  height: 200px;
  font-size: 30px;
  text-align: center;
  text-shadow: 0px 2px 6px black;
  margin-top: 10px;
  cursor: pointer;
}

p.char-overlay-1 {
  top: 20px;
  left: 20px;
}

p.char-overlay-2 {
  top: 20px;
  left: 240px;
}

p.char-overlay-3 {
  top: 240px;
  left: 20px;
}

p.char-overlay-4 {
  top: 240px;
  left: 240px;
}

p.char-overlay-1:hover, p.char-overlay-2:hover, 
p.char-overlay-3:hover, p.char-overlay-4:hover {
  opacity: 1;
}

.char-transition {
  opacity: 0;
  transition: 1s;
}

/* ---------------------------------- */

div#main-text {
  float: left;
  border: 5px ridge rgb(255, 0, 174);
  max-width: 650px;
  margin-left: 30px;
  margin-top: 20px;
  background-color: rgba(0,0,0, 0.3);
}

p.scenario-text {
  margin: 20px;
  color: rgb(255, 0, 174);
  line-height: 1.5;
  font-size: 17px;
}

div.result-text {
  display: none;
  text-align: center;
  margin-top: 25px;
  color: rgb(33, 170, 255);
  line-height: 1;
  font-size: 20px;
  text-shadow: 0px 2px 6px black;
}

p.text-container {
  max-width: 700px;
  margin: 0 auto;
}

button.wrong-choice, button.right-choice {
  background-color: #fa8535;
  padding: 6px;
  border: 0;
  font-family: 'Uncial Antiqua';
  font-size: 21px;
  cursor: pointer; 
  display: inline-block;
  margin-top: 10px;
}

.wrong-choice a, .right-choice a,
.wrong-choice:visited, .right-choice a:visited {
  text-decoration: none;
  color: #950952;
}

.right-choice a:hover, .right-choice a:active {
  text-decoration: none;
  color: #de0d92;
}

.wrong-choice a:hover, .wrong-choice a:active,
button.wrong-choice:hover, button.wrong-choice:active {
  text-decoration: none;
  color: white;
  background-color: red;
}

button.end-button-reset, button.end-button-alt {
  background-color: black;
  padding: 6px;
  border: 0;
  font-family: 'Uncial Antiqua';
  font-size: 21px;
  cursor: pointer; 
  display: inline-block;
  margin-top: 10px;
}

.end-button-reset a, .end-button-reset a:visited {
  color: #950952;
  text-decoration: none;
}

.end-button-alt a, .end-button-alt a:visited {
  color: #af2bbf;
  text-decoration: none;
}

.end-button-reset a:hover, .end-button-reset a:active {
  color: #de0d92;
  text-decoration: none;
}

.end-button-alt a:hover, .end-button-alt a:active {
  color: #de0d92;
  text-decoration: none;
}
/*@media all and (max-width: 414px){
  img.char-class, h1 {
    float: left;
    clear: left;
    width: 90%;
  }

  div#main-text, p.scenario-text {
    width: 75%;

  }
  p.scenario-text {
    margin: 0 auto; 
  }

  div.img-container {
    margin: 30px auto;
    max-width: 300px;
  }*/