body {
  font-family: 'Sofadi One';
}

h1 {
  font-family: 'Uncial Antiqua';
  font-size: 72px;
  margin-left: 15px;
  margin-top: 15px;
}

ul.progress-nav li {
  display: inline;
  list-style-type: none;
  font-size: 0;
}
/* dealing with the character images/option */
div.img-container {
  width: 460px;
  height: 460px;
  border: 1px solid red;
  float: left;
  margin-top: 30px;
  margin-left: 50px;
  position: relative;
}

.char-class {
  margin-left: 20px;
  margin-top: 20px;
  float: left;
}

.char-overlay-1 {
  position: absolute;
  top: 20px;
  left: 20px;
}

.char-overlay-2 {
  position: absolute;
  top: 20px;
  left: 240px;
}

.char-overlay-3 {
  position: absolute;
  top: 240px;
  left: 20px;
}

.char-overlay-4 {
  position: absolute;
  top: 240px;
  left: 240px;
}

.char-overlay-1:hover, .char-overlay-2:hover, 
.char-overlay-3:hover, .char-overlay-4:hover {
  opacity: .3;
}

.char-transition {
  opacity: 0;
  transition: 1s;
}

/* ---------------------------------- */

div#main-text {
  float: left;
  border: 1px solid blue;
  max-width: 600px;
  margin-left: 30px;
  margin-top: 30px;
}

p.scenario-text {
  margin: 20px;
}

div.result-text{
  display: none;
  text-align: center;
  margin-top: 200px;
}

@media all and (max-width: 414px){
  img.char-class, h1 {
    float: left;
    clear: left;
    width: 90%;
  }

  div#main-text, p.scenario-text {
    width: 75%;

  }
  p.scenario-text {
    margin: 0 auto;
  }

  div.img-container {
    margin: 30px auto;
    max-width: 300px;
  }

@media all and (min-width: 768px){
  }
}